
<footer class="main-footer">
    <div class="footer-social">
        <p><i class="fa-brands fa-facebook-f"></i> Mateando Oficial</p>
        <p><i class="fa-brands fa-instagram"></i> @mateando_oficial</p>
        <p><i class="fa-brands fa-whatsapp"></i> 2657-772978</p>
    </div>
    <div class="footer-copy">
        <p>&copy; 2026 Mateando🧉. Todos los derechos reservados.</p>
    </div>
    <div class="footer-apps">
        <a href="#"><i class="fa-brands fa-apple"></i> App Store</a>
        <a href="#"><i class="fa-brands fa-google-play"></i> Google Play</a>
    </div>
</footer>