<header style="display: flex; justify-content: space-between; align-items: center; background-color: #83af31; padding: 15px 5%; box-shadow: 0px 4px 10px rgba(0,0,0,0.1); font-family:Arial, Helvetica, sans-serif;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  
  
  <div style="color:#EAE3D2 ;">
    <a href="/" style="text-decoration: none;
    color: inherit;">
     <h1>Mateando🧉</h1>
    </a>
  </div>
 

  <div style=" display:flex;
        flex: 1;
        max-width: 400px;
        margin: 0 20px;">

        <input style= "width: 100%;
        padding: 15px;
        border: 1px solid oklab(34.495% 0.00048 -0.00169);
        border-radius: 5px 0 0 5px;
        outline: none;" 
        placeholder="Buscar Productos">

        <button style= "padding: 10px 20px;
        background-color: #363d46; 
        color: white;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;"> 
        🔍
      </button>  
    
  </div>

  <div>
    <nav style="margin-top: 1.5em; display: flex; gap: 30px; justify-content: center; align-items: center;">
      
      <a href="/login" title="Iniciar Sesión" style="color: #EAE3D2; font-size: 1.5rem; text-decoration: none;">
        <i class="fa-solid fa-user"></i>
      </a>
      
      <a href="/register" title="Registrarse" style="color: #EAE3D2; font-size: 1.5rem; text-decoration: none;">
        <i class="fa-solid fa-user-plus"></i>
      </a>
      
      <a href="/cart" title="Carrito" style="color: #EAE3D2; font-size: 1.5rem; text-decoration: none;">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>

    </nav>
  </div>
</header>
   