<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Carrito - MiEcommerce</title>
<body style="margin: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">

    <header style="display: flex; justify-content: space-between; align-items: center; background-color: #ffffff; padding: 15px 5%; box-shadow: 0px 4px 10px rgba(0,0,0,0.1);">
        <div style="color: #333;">
            <h1>MiEcommerce👋</h1>
        </div>

  <div style=" display:flex;
        flex: 1;
        max-width: 400px;
        margin: 0 320px;">

        <input style= "width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        outline: none;" 
        placeholder="Buscar Productos">

        <button style= "padding: 10px 20px;
        background-color: #363d46; 
        color: white;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;"> 
        🔍
      </button>  
    
  </div>
        </header>
        <main style="padding: 40px 10%">
            <a href="/" style="text-decoration: none; color: #333; font-weight: bold;"> ← Volver</a>
    <h2 style="margin: 30px 0;">Productos en tu Carrito</h2>

    <div style="display: flex; align-items: center; background: white; padding: 20px; border-radius: 15px; margin-bottom: 15px; box-shadow: 0 2px 5px rgba(0,0,0,0.05);">
        <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRP1O25vTC92joON5LaHxuUuhXnVoL1VerBaO7Cb7J1Pf25_wInn3fbBqw02Bu_1-VRnudDjOUnM4eRJipnE-aj1YU2ZXOjjTlIr9sMM3uW9fQSVBMg8YiqSU0g1Nx0eoDSC1mDBg&usqp=CAc" style="width: 80px; height: 80px; object-fit: contain; margin-right: 20px;">
        
        <div style="flex-grow: 1;">
            <h3 style="margin: 0; font-size: 18px;">Mate</h3>
        </div>

        <button style="background: #4a4e54; color: white; border: none; padding: 8px 15px; border-radius: 20px; cursor: pointer; margin-right: 20px;">Quitar</button>

        <div style="display: flex; align-items: center; border: 1px solid #ccc; border-radius: 20px; padding: 5px 10px; margin-right: 20px;">
            <button style="background: none; border: none; cursor: pointer; font-weight: bold;">-</button>
            <span style="margin: 0 15px;">1</span>
            <button style="background: none; border: none; cursor: pointer; font-weight: bold;">+</button>
        </div>

        <div style="font-size: 20px; font-weight: bold; min-width: 100px; text-align: right;">15.000</div>
    </div>

    <div style="display: flex; align-items: center; background: white; padding: 20px; border-radius: 15px; margin-bottom: 15px; box-shadow: 0 2px 5px rgba(0,0,0,0.05);">
        <img src="https://cache-backend-mcd.mcdonalds.at/api/v1/content/generic/products/6504/standard?locale=es" style="width: 80px; height: 80px; object-fit: contain; margin-right: 20px;">
        
        <div style="flex-grow: 1;">
            <h3 style="margin: 0; font-size: 18px;">Yerba Balbo</h3>
        </div>

        <button style="background: #4a4e54; color: white; border: none; padding: 8px 15px; border-radius: 20px; cursor: pointer; margin-right: 20px;">Quitar</button>

        <div style="display: flex; align-items: center; border: 1px solid #ccc; border-radius: 20px; padding: 5px 10px; margin-right: 20px;">
            <button style="background: none; border: none; cursor: pointer; font-weight: bold;">-</button>
            <span style="margin: 0 15px;">1</span>
            <button style="background: none; border: none; cursor: pointer; font-weight: bold;">+</button>
        </div>

        <div style="font-size: 20px; font-weight: bold; min-width: 100px; text-align: right;">5.000</div>
    </div>
    
     <div style="display: flex; align-items: center; background: white; padding: 20px; border-radius: 15px; margin-bottom: 15px; box-shadow: 0 2px 5px rgba(0,0,0,0.05);">
        <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRP1O25vTC92joON5LaHxuUuhXnVoL1VerBaO7Cb7J1Pf25_wInn3fbBqw02Bu_1-VRnudDjOUnM4eRJipnE-aj1YU2ZXOjjTlIr9sMM3uW9fQSVBMg8YiqSU0g1Nx0eoDSC1mDBg&usqp=CAc" style="width: 80px; height: 80px; object-fit: contain; margin-right: 20px;">
        
        <div style="flex-grow: 1;">
            <h3 style="margin: 0; font-size: 18px;">Bombilla</h3>
        </div>

        <button style="background: #4a4e54; color: white; border: none; padding: 8px 15px; border-radius: 20px; cursor: pointer; margin-right: 20px;">Quitar</button>

        <div style="display: flex; align-items: center; border: 1px solid #ccc; border-radius: 20px; padding: 5px 10px; margin-right: 20px;">
            <button style="background: none; border: none; cursor: pointer; font-weight: bold;">-</button>
            <span style="margin: 0 15px;">1</span>
            <button style="background: none; border: none; cursor: pointer; font-weight: bold;">+</button>
        </div>

        <div style="font-size: 20px; font-weight: bold; min-width: 100px; text-align: right;">19.900</div>
    </div>

    <div style="text-align: right; margin-top: 30px;">
        <h3 style="font-size: 24px;">Precio total: <span style="margin-left: 20px;"> 24.900 </span></h3>
        <button style="background-color: #4a4e54; color: white; padding: 15px 40px; border: none; border-radius: 25px; font-size: 16px; cursor: pointer;">Ir a Pagar</button>
    </div>
    
        </main>>
</body>
</html>