<%- include('../partials/header') %>
<%- include('../partials/categoryBar') %>
<main class="home-main">
    <h2 class="home-title">¡Bienvenido a Mateando🧉!</h2>
    <div class="product-grid">
        <% for (const product of products) { %>
            <%- include('../partials/productCard', { product: product }) %>
        <% } %>
    </div>
    <section class="promo-section">
        <div class="promo-text-box">
            <h2 class="promo-title">Llevate el <span class="promo-highlight">Kit Matero Premium</span></h2>
            <p class="promo-desc">Aprovecha nuestra oferta especial. Incluye mate imperial, bombilla pico de loro y yerba de regalo con un 20% de descuento.</p>
            <a href="/products/1" class="promo-link"><button class="promo-btn">Ver Promoción</button></a>
        </div>
        <div class="promo-img-box">
            <img src="https://www.belloexport.com.ar/wp-content/uploads/2018/08/P07908.jpg" alt="Promoción Kit Matero" class="promo-img">
        </div>
    </section>
    <section class="promo-section">
        <div class="promo-text-box">
            <h2 class="promo-title">¡Nuevo Ingreso! <span class="promo-highlight">Mate Imperial</span></h2>
            <p class="promo-desc">Conocé nuestro nuevo Mate Imperial, diseñado para los materos más exigentes. Calabaza seleccionada, cuero de primera y detalles únicos en alpaca.</p>
            <a href="/products/5" class="promo-link"><button class="promo-btn">Ver Nuevo Ingreso</button></a>
        </div>
        <div class="promo-img-box">
            <img src="https://imgs.search.brave.com/sJi2V9pDBgoI3CJVf0BsJsPW8HCMRd0VAY96Oxe8Av0/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9hY2Ru/LXVzLm1pdGllbmRh/bnViZS5jb20vc3Rv/cmVzLzAwNS82NzYv/MDMzL3Byb2R1Y3Rz/L2ltcGVyaWFsLXBl/cXVlbm8tZjdjOTQw/ZmU4ZWU4NDAwNzNi/MTczNzIxOTYwNzI5/MjQtMjQwLTAuanBl/Zw" alt="Mate Imperial" class="promo-img">
        </div>
    </section>
</main>

<%- include('../partials/footer') %>