<%- include('../partials/categoryBar') %>

<main class="home-main">
    <h2 class="home-title" style="text-align: center; margin-top: 20px;">¡Bienvenido a Mateando🧉!</h2>

    <% if (mostWanted && mostWanted.length > 0) { %>
        <section class="most-wanted-section" style="padding: 20px; background-color: #f9f9f9; border-radius: 15px; margin: 20px 0;">
            <h2 style="margin-left: 10px;">Los más pedidos 🔥</h2>
            <div class="product-grid"> <% mostWanted.forEach(product => { %>
                    <%- include('../partials/productCard', { product: product }) %>
                <% }) %>
            </div>
        </section>
    <% } %>

    <div style="display: flex; justify-content: space-between; align-items: center; margin: 20px 30px 10px 30px; flex-wrap: wrap; gap: 10px;">
        <h2 style="margin: 0;">Nuestro Catálogo</h2>
        <div style="display: flex; align-items: center;">
            <span style="font-weight: bold; margin-right: 15px; color: #333;">Ordenar por precio:</span>
            <a href="/?sort=asc" style="padding: 8px 20px; background-color: #8db53f; color: white; text-decoration: none; border-radius: 20px; font-size: 0.9rem; font-weight: bold; margin-right: 10px; transition: 0.3s;">Menor a Mayor ⬆️</a>
            <a href="/?sort=desc" style="padding: 8px 20px; background-color: #e44d26; color: white; text-decoration: none; border-radius: 20px; font-size: 0.9rem; font-weight: bold; transition: 0.3s;">Mayor a Menor ⬇️</a>
        </div>
    </div>

    <div class="product-grid">
        <% for (const product of products) { %>
            <%- include('../partials/productCard', { product: product }) %>
        <% } %>
    </div>

    <section class="promo-section">
        <div class="promo-text-box">
            <h2 class="promo-title">Llevate el <span class="promo-highlight">Kit Matero Premium</span></h2>
            <p class="promo-desc">Aprovecha nuestra oferta especial. Incluye mate imperial, bombilla pico de loro y yerba de regalo con un 20% de descuento.</p>
            <a href="/products/1" class="promo-link"><button class="promo-btn">Ver Promoción</button></a>
        </div>
        <div class="promo-img-box">
            <img src="https://www.belloexport.com.ar/wp-content/uploads/2018/08/P07908.jpg" alt="Promoción Kit Matero" class="promo-img">
        </div>
    </section>

</main>