<%- include('../partials/header', { ocultarExtras: true }) %>

    <main class="register-main">
        <section class="register-card">
            <h2>¡REGISTRATE!</h2>


            <form action="/register" method="POST" class="register-form" id="form-registro">


                <div class="form-group">
                    <label for="nombre" class="sr-only">Nombre</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre">
                    <small class="error-text" style="color: #ffcccc; display: none;"></small>
                </div>
                <div class="form-group">
                    <label for="apellido" class="sr-only">Apellido</label>
                    <input type="text" id="apellido" name="apellido" placeholder="Apellido">
                    <small class="error-text" style="color: #ffcccc; display: none;"></small>
                </div>

                <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="text" id="email" name="email" placeholder="Email">
                    <small class="error-text" style="color: #ffcccc; display: none;"></small>
                </div>

                <div class="form-group">
                    <label for="password" class="sr-only">Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="Contraseña">
                    <small class="error-text" style="color: #ffcccc; display: none;"></small>
                </div>

                <div class="form-group">
                    <label for="passwordConfirm" class="sr-only">Repita Contraseña</label>
                    <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Repita Contraseña">
                    <small class="error-text" style="color: #ffcccc; display: none;"></small>
                </div>

                <button type="submit" class="btn-submit">Crear Cuenta</button>
            </form>

            <div class="login-link">
                <p>¿Ya tienes cuenta? <a href="/login">Inicia sesión</a></p>
                <p><a href="/" class="btn-back">Volver al inicio</a></p>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>